<style>
.member_class {
  font-size: 10px;
  color: #cccc00;
  background-color: #8B4513;
}
.major {
  font-size: 12px;
}
.members {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
}
</style>
<h1>
<div>
  Members
</div>
</h1>
<div class="members">
  <div>
    Austin Lee
    <div class="member_class">
      Junior
    </div>
    <div class="major">
      Computer Science
    </div>
  </div>
  <div>
    Analisse Reyes
    <div class="member_class">
      Junior
    </div>
    <div class="major">
      Computer Science
    </div>
  </div>
  <div>
    Jason Luna
    <div class="member_class">
      Freshman
    </div>
    <div class="major">
      Computer Science and Linguistics
    </div>
  </div>
</div>
